.navMenu{
    width: 315px;
    height: 55px;
    background-color: #87cefa;
    font-size:18pt;
    border-radius: 10px;
}



.navMenuItem{
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
}

.footer{
    font-size: 10pt;
    background-color: #87cefa;
    text-align: center;
}

.boxOne{
    background-color: #0000ff;
}

.boxTwo{
    background-color: #8a2be2;
}

.boxThree{
    background-color: #afeeee;
}

.boxFour{
    background-color: #e0ffff;
}

.largText{
    color:#ffffff;
    font-size: 18pt;
    text-align: center;
}

.bioText{
    color: #000000;
    font-size: 14pt;
    text-align: left;
}

.welcomeText{
    color: #ffffff;
    font-size: 48pt;
}

#addText{
    color: #ffffff;
    font-size: 24pt;
    text-align: right;
}

.spanClass{
    font-size: 24pt;
    font-weight: bold;
}

@media (max-width: 761.98px) {
    .navMenu{
        display: none;
    }

    .spanClass{
        font-size:12pt;
        font-weight: bold;
    }

    .welcomeText{
        font-size: 18pt;
        color: #ffffff;
    }

    #addText{
        font-size: 14pt;
        text-align: right;
        color: #ffffff;
    }

    .largText{
        font-size: 12pt;
        text-align: center;
        color: #ffffff;
    }

    .bioText{
        font-size: 8pt;
        text-align: left;
        color: #000000;
    }
    .footer{
        font-size: 6pt;
        background-color: #87cefa;
        text-align: center;
    }
}


