
.navMenu{
    width: 315px;
    height: 53px;
    background-color: #000000;
    font-size:18pt;
    border-radius: 10px;
    color:#ffffff;
}

.navThing{
    width: 33%;
}

.navHover:hover{
    background-color: #8a2be2;
    color:#ffffff;
    width: 33%;
}

.navMenuItem{
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
    width: 33%;
}

.footer{
    font-size: 10pt;
    background-color: #87cefa;
    text-align: center;
}

.boxOne{
    background-color: #0000ff;
}

.boxTwo{
    background-color: #8a2be2;
}

.boxThree{
    background-color: #afeeee;
}

.boxFour{
    background-color: #e0ffff;
}

.largText{
    color:#ffffff;
    font-size: 18pt;
    text-align: center;
}

.bioText{
    color: #000000;
    font-size: 14pt;
    text-align: left;
}

.bioText1{
    color: #000000;
    font-size: 14pt;
    text-align: right;
}

.welcomeText{
    color: #ffffff;
    font-size: 48pt;
}

.smlText{
    color: #808080;
    font-size: 8pt;
}

.buttonOne{
    background-color: #8a2be2;
    color: #ffffff;
    border-radius: 5px;
    position: relative;
    left: 5px;
    top: 55px;
}

#addText{
    color: #ffffff;
    font-size: 24pt;
    text-align: right;
}

.spanClass{
    font-size: 24pt;
    font-weight: bold;
}

.posCent{
    position: relative;
    left: 0%;
    top: 40%;
}

.hideNav{
    display: none;
}

.whiteText{
    color: #ffffff;
    font-size: 12pt;
    position: relative;
    left: 5px;
    top: 50px;
    
}

@media (max-width: 1000px){

    .spanClass{
        font-size:18pt;
        font-weight: bold;
    }

    .welcomeText{
        font-size: 28pt;
        color: #ffffff;
    }

    #addText{
        font-size: 18pt;
        text-align: right;
        color: #ffffff;
    }

    .largText{
        font-size: 16pt;
        text-align: center;
        color: #ffffff;
    }

    .bioText{
        font-size: 8pt;
        text-align: left;
        color: #000000;
    }

    .bioText1{
        color: #000000;
        font-size: 11pt;
        text-align: right;
    }

    .footer{
        font-size: 8pt;
        background-color: #87cefa;
        text-align: center;
    }

    .whiteText{
        color: #ffffff;
        font-size: 10pt;
        
    }

}

@media (max-width: 761.98px) {
    .navMenu{
        display: none;
    }

    .hideNav{
        display:block;
    }

    .spanClass{
        font-size:12pt;
        font-weight: bold;
    }

    .welcomeText{
        font-size: 18pt;
        color: #ffffff;
    }

    #addText{
        font-size: 14pt;
        text-align: right;
        color: #ffffff;
    }

    .largText{
        font-size: 12pt;
        text-align: center;
        color: #ffffff;
    }

    .bioText{
        font-size: 8pt;
        text-align: left;
        color: #000000;
    }

    .bioText1{
        color: #000000;
        font-size: 8pt;
        text-align: right;
    }

    .footer{
        font-size: 6pt;
        background-color: #87cefa;
        text-align: center;
    }
    .whiteText{
        color: #ffffff;
        font-size: 8pt;
        
    }

    
}


